@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Khula", sans-serif;
  height: 100vh;
  text-align: center;
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
  font-size: 1.2rem;
}

h2 {
  min-width: 320px;
  margin: 0 auto;
  margin-top: 2em;
}

.nav {
  width: 10em;
  margin: 0 auto;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #16d9e3;
}
